<!-- app/templates/trader/clientSearch.html -->

{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block title %}Find clients{% endblock %}
{% block body %}
<div class="content-section"><br/>
    <h1 style="text-align:center;">Find clients</h1>
    <form action="{{ url_for('trader.get_client_data', is_search=1) }}" method="get" style="text-align:center;">
        <label for="Field">Field</label>
        <select style="width:200px" name="Field" id="Field">
            <option value="username">Username</option>
            <option value="first_name">First name</option>
            <option value="last_name">Last name</option>
            <option value="mobile_phone">Mobile Phone</option>
            <option value="city">City</option>
            <option value="state">State</option>
            <option value="zipcode">Zipcode</option>
        </select>
        <label for="Condition">Search key</label>
        <input type="text" name="Condition" id="Condition">
        <button type="submit" class="btn btn-sm btn-success">Search</button>
    </form>
    <br>
    {% if is_search %}
<!--    <hr class="intro-divider">-->
<!--    <ul class="nav nav-tabs">-->
<!--        <li class="active"><a data-toggle="tab" href="#Results">Results</a></li>-->
<!--    </ul>-->
    <div class="tab-content">
        <div id="Results" class="row">
            {% if clients != None and clients.count() > 0 %}
            <div class="container" style="height: 360px; overflow: auto">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col"> Client Username</th>
                        <th scope="col"> First Name</th>
                        <th scope="col"> Last Name</th>
                        <th scope="col"> History</th>
                        <th scope="col"> Trade</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                    <tr>
                        <td> {{ client.username }}</td>
                        <td> {{ client.first_name }}</td>
                        <td> {{ client.last_name }}</td>
                        <td>
                            <a href="{{ url_for('trader.get_client_info', id=client.id) }}">
                                <i class=" fa fa-user"></i> See history
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('trader.trade_for_client', id=client.id) }}">
                                Trade for Client
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h3 style="text-align:center;">No client found</h3>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
