<!-- app/templates/home/manager_dashboard.html -->
{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block title %}Manager Dashboard{% endblock %}
{% block body %}
{% block content %}

<div class="container">
    <div class="content-section">
        <div class="row">
            <div class=" col-sm-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == 'message' %}
                <div class="alert alert-warning" role="alert">
                    {% else %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {% endif %}
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                </br>
                <span style="text-align: center">Client Status update happens every month end at 11:55PM</span>
                </br>
            </div>
            </br>
            <div class="row">
                <span>Statistics of Transactions</span>
            </div>
            <h2 style="text-align: center">Most Recent Transactions</h2>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Trades">Trades</a></li>
                    <li><a data-toggle="tab" href="#Deposits">Deposits</a></li>
                </ul>

                <div class="tab-content">
                    <div id="Trades" class="tab-pane fade in active">
                        <div class="row">
                            <table class="table table-dark">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Trade/Status</th>
                                        <th scope="col">BTC Amount</th>
                                        <th scope="col">Exchange Rate</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for trade in trades %}
                                    <tr>
                                        <td>{{ trade.id }}</td>
                                        <td>{{ trade.timestamp }}</td>
                                        <td>{{ "Buy" if trade.xid_type=="buy" else "Sell" }} <br />{{
                                            macros.status_pill(trade.status) }} </td>
                                        <td>{{ '\u0E3F{:,.4f}'.format(trade.bitcoin_amount) }}</td>
                                        <td>{{ '\u0E3F{:,.4f}'.format(trade.exchange_rate) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div id="Deposits" class="tab-pane fade">
                        <div class="row">
                            <table class="table table-dark">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td>{{ transaction.xid }}</td>
                                        <td>{{ transaction.timestamp }}</td>
                                        <td>{{ '${:,.2f}'.format(transaction.fiat_amount) }}</td>
                                        <td>{{ macros.status_pill(transaction.status) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}
    {% endblock %}