<html>

<head>
    <meta charset="UTF-8">
    <title> Register </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body></br></br></br></br></br>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Register</h1>
            </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('user.register') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username"
                        class="textbox" /></br></br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID"
                        class="textbox" /></br></br>
                    <input id="firstname" name="firstname" type="text" placeholder="Enter Your First Name"
                        class="textbox" /></br></br>
                    <input id="lastname" name="lastname" type="text" placeholder="Enter Your Last Name"
                        class="textbox" /></br></br>
                    <input id="mobilephone" name="mobilephone" type="text" placeholder="Enter Your Phone Number"
                        class="textbox" /></br></br>
                    <input id="street" name="street" type="text" placeholder="Enter Your Street Address"
                        class="textbox" /></br></br>
                    <input id="city" name="city" type="text" placeholder="Enter Your City" class="textbox" /></br></br>
                    <input id="state" name="state" type="text" placeholder="Enter Your State" class="textbox" /></br></br>
                    <input id="zipcode" name="zipcode" type="text" placeholder="Enter Your ZipCode"
                        class="textbox" /></br></br>
                    User Type to Add:
                    <input id="trader" name="usertype" type="radio" value="2" required>
                    <label for="trader">Trader</label>
                    <input id="client" name="usertype" type="radio" value="3">
                    <label for="client">Client</label><br><br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password"
                        class="textbox" /></br></br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
        </div>
    </div>
</body>

</html>